<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hy.onlinemonitor">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:label"
        android:theme="@style/AppTheme">
        <!-- 初始化vitamio的必要步奏-->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VUnuFRfILd4DrXKYZOc0ObMk" />

        <activity
            android:name=".view.Activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.Activity.TestActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.Activity.TypeSelectionActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.Activity.MainActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.Activity.Function.EquipmentListViewActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.Activity.Function.AlarmInformationActivity"
            android:launchMode="singleTask" />

        <activity android:name=".view.Activity.Function.DetailedAlarmActivity"
            android:theme="@style/MySilderTheme"
            android:launchMode="singleTask"
            />

        <activity android:name=".view.Activity.Function.MapActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".view.Activity.Function.SingleAlarmInformationActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".view.Activity.Function.VideoActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".view.Activity.SystemManagement.AdministratorManageActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".view.Activity.SystemManagement.JurisdictionManageActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".view.Activity.SystemManagement.LineManageActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".view.Activity.SystemManagement.PoleManageActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".view.Activity.SystemManagement.EquipmentManageActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".view.Activity.SystemManagement.EquipmentMoreInformationActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".view.Activity.SystemManagement.SensorManageActivity" />
        <activity android:name=".view.Activity.SystemManagement.CompanyManageActivity" />
    </application>

</manifest>
